header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

.product-display {
    text-align: center;
    margin-top: 20px;
}

.product-display img {
    width: 200px;
    height: auto;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    z-index: 1;
    position: relative;
}

.pagination a, .pagination span {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #333;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination span.active {
    background-color: #007BFF;
    color: #fff;
    border-color: #007BFF;
}

footer {
    background-color: #333;
}
