<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Archetype Created Web Application</display-name>
	<welcome-file-list>
		<welcome-file>/</welcome-file>
	</welcome-file-list>


	<context-param>
		<param-name>contextParam</param-name>
		<param-value>Context Param Value</param-value>
	</context-param>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>test-auth</web-resource-name>
			<url-pattern>/test-auth</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>client</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
	
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
	
	
	<error-page>
		<error-code>403</error-code>
		<location>/error-handler</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/error-handler</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/not-found</location>
	</error-page>
	
	<servlet>
		<description></description>
		<display-name>ServletDemo2</display-name>
		<servlet-name>ServletDemo2</servlet-name>
		<servlet-class>com.itbulls.learnit.onlinestore.servlets.ServletDemo2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletDemo2</servlet-name>
		<url-pattern>/ServletDemo2</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletDemo3</display-name>
		<servlet-name>ServletDemo3</servlet-name>
		<servlet-class>com.itbulls.learnit.onlinestore.servlets.ServletDemo3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletDemo3</servlet-name>
		<url-pattern>/ServletDemo3</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RedirectDemo</display-name>
		<servlet-name>RedirectDemo</servlet-name>
		<servlet-class>com.itbulls.learnit.onlinestore.servlets.RedirectDemo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RedirectDemo</servlet-name>
		<url-pattern>/RedirectDemo</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DisplayHeadersServlet</display-name>
		<servlet-name>DisplayHeadersServlet</servlet-name>
		<servlet-class>com.itbulls.learnit.onlinestore.servlets.DisplayHeadersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayHeadersServlet</servlet-name>
		<url-pattern>/DisplayHeadersServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SetHeadersServlet</display-name>
		<servlet-name>SetHeadersServlet</servlet-name>
		<servlet-class>com.itbulls.learnit.onlinestore.servlets.SetHeadersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SetHeadersServlet</servlet-name>
		<url-pattern>/SetHeadersServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RestrictedAccessServlet</display-name>
		<servlet-name>RestrictedAccessServlet</servlet-name>
		<servlet-class>com.itbulls.learnit.onlinestore.servlets.RestrictedAccessServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RestrictedAccessServlet</servlet-name>
		<url-pattern>/restricted</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ContextParamValueServlet</display-name>
		<servlet-name>ContextParamValueServlet</servlet-name>
		<servlet-class>com.itbulls.learnit.onlinestore.servlets.ContextParamValueServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContextParamValueServlet</servlet-name>
		<url-pattern>/ContextParamValueServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>HelloWorldFilter</display-name>
		<filter-name>HelloWorldFilter</filter-name>
		<filter-class>com.itbulls.learnit.onlinestore.filters.HelloWorldFilter</filter-class>
		<init-param>
			<param-name>initParam</param-name>
			<param-value>InitParam</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>HelloWorldFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>CookiesServlet</display-name>
		<servlet-name>CookiesServlet</servlet-name>
		<servlet-class>com.itbulls.learnit.onlinestore.servlets.CookiesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CookiesServlet</servlet-name>
		<url-pattern>/cookies-demo-xml</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HttpSessionServlet</display-name>
		<servlet-name>HttpSessionServlet</servlet-name>
		<servlet-class>com.itbulls.learnit.onlinestore.servlets.HttpSessionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HttpSessionServlet</servlet-name>
		<url-pattern>/session-demo-xml</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HttpSessionServlet2</display-name>
		<servlet-name>HttpSessionServlet2</servlet-name>
		<servlet-class>com.itbulls.learnit.onlinestore.servlets.HttpSessionServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HttpSessionServlet2</servlet-name>
		<url-pattern>/session-demo2-xml</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SessionInvalidateServlet</display-name>
		<servlet-name>SessionInvalidateServlet</servlet-name>
		<servlet-class>com.itbulls.learnit.onlinestore.servlets.SessionInvalidateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SessionInvalidateServlet</servlet-name>
		<url-pattern>/session-invalidate-xml</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>com.itbulls.learnit.onlinestore.listeners.SessionListener</listener-class>
	</listener>
	<servlet>
		<description></description>
		<display-name>ErrorHandlerServlet</display-name>
		<servlet-name>ErrorHandlerServlet</servlet-name>
		<servlet-class>com.itbulls.learnit.onlinestore.servlets.exceptions.ErrorHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ErrorHandlerServlet</servlet-name>
		<url-pattern>/error-handler-xml</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>NullPointerExceptionServlet</display-name>
		<servlet-name>NullPointerExceptionServlet</servlet-name>
		<servlet-class>com.itbulls.learnit.onlinestore.servlets.NullPointerExceptionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NullPointerExceptionServlet</servlet-name>
		<url-pattern>/npe-xml</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>StubErrorCodeServlet</display-name>
		<servlet-name>StubErrorCodeServlet</servlet-name>
		<servlet-class>com.itbulls.learnit.onlinestore.servlets.exceptions.StubErrorCodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StubErrorCodeServlet</servlet-name>
		<url-pattern>/stub-error-xml</url-pattern>
	</servlet-mapping>
</web-app>